/* apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Establishing font-sizes and line-heights, etc.*/
/* Body */
body, caption, th, td, input, textarea,
select, option, legend, fieldset, h1,
h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

body {
  font: 400 16px Raleway, sans-serif;
  line-height: 1.8;
  color: #818181;
}

nav, main, footer, .btn,
.dropdown-menu,
.dropdown-header,
#searchBox, .form-control {
  font-size: 1em;
  /* equivalent to 16px */
  line-height: 1.25;
  /* equivalent to 20px */
}

@media (min-width: 43.75em) {
  nav, main, footer, .btn,
  .dropdown-menu,
  .dropdown-header,
  #searchBox, .form-control {
    font-size: 1em;
    /* equivalent to 16px */
    line-height: 1.375;
    /* equivalent to 22px */
  }
}

/* Headings */
/* h1 */
h1 {
  font-size: 2em;
  /* 2x body copy size = 32px */
  line-height: 1.25;
  /* 45px / 36px */
}

@media (min-width: 43.75em) {
  h1 {
    font-size: 2.5em;
    /* 2.5x body copy size = 40px */
    line-height: 1.125;
  }
}

@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
    /* 3x body copy size = 48px */
    line-height: 1.05;
    /* keep to a multiple of the 20px line height and something more appropriate for display headings */
  }
}

/* h2 */
h2 {
  font-size: 1.625em;
  /* 1.625x body copy size = 26px */
  line-height: 1.15384615;
  /* 30px / 26px */
  color: #4bafc9;
  font-weight: 600;
}

@media (min-width: 43.75em) {
  h2 {
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h2 {
    font-size: 2.25em;
    /* 2.25x body copy size = 36px */
    line-height: 1.25;
  }
}

/* h3 */
h3 {
  font-size: 1.375em;
  /* 1.375x body copy size = 22px */
  line-height: 1.13636364;
  /* 25px / 22px */
}

@media (min-width: 43.75em) {
  h3 {
    font-size: 1.5em;
    /* 1.5x body copy size = 24px */
    line-height: 1.25;
  }
}

@media (min-width: 56.25em) {
  h3 {
    font-size: 1.75em;
    /* 1.75x body copy size = 28px */
    line-height: 1.25;
  }
}

/* h4 */
h4 {
  font-size: 1.125em;
  /* 1.125x body copy size = 18px */
  line-height: 1.11111111;
  /*color: #303030;*/
  font-weight: 400;
  /*margin-bottom: 30px;*/
}

@media (min-width: 43.75em) {
  h4 {
    line-height: 1.22222222;
    /* (22px / 18px */
  }
}

/* blockquote */
blockquote {
  font-size: 1.25em;
  /* 20px / 16px */
  line-height: 1.25;
  /* 25px / 20px */
}

@media (min-width: 43.75em) {
  blockquote {
    font-size: 1.5em;
    /* 24px / 16px = */
    line-height: 1.45833333;
    /* 35px / 24px */
  }
}

/* Other stuff */
main {
  position: fixed;
  top: 70px; /* = height of navbar*/
  bottom: 50px; /* = height of footer */
  width: 100%;
  overflow-y: auto;
  z-index: 0;
}

@media screen and (max-width: 375px) {
  main {
      bottom: 70px;
  }
}

.jumbotron {
  background-color: #4bafc9;
  color: #fff;
  padding: 60px 25px;
  font-family: Raleway, sans-serif;
  margin-bottom: 0;
}
.mini-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.container {
  width: 97vw;
}
.container-fluid {
  padding: 60px 50px;
}
.bg-grey {
  background-color: #f6f6f6;
}

.main-padding {
  padding: 0 30px;
}

.logo-small {
  color: #4bafc9;
  font-size: 50px;
}
.logo {
  color: #4bafc9;
  font-size: 150px;
}


.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}
.thumbnail img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: #4bafc9;
}
.carousel-control {
  width: 5%;
}
.carousel-indicators li {
  border-color: #4bafc9;
  margin-bottom: 0;
}
.carousel-indicators li.active {
  background-color: #4bafc9;
}
.carousel-inner {
  margin-left: auto;
  margin-right: auto;
}
.carousel-indicators{
  bottom: 0;
}
section#featured > div.row {
  margin: 0;
}
.carousel-caption {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  right: 0%;
  left: 0%;
  bottom: 0%;
  background-color: #00000099;
}
.item h4 {
  /*font-size: 19px;*/
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  /*margin: 70px 0;*/
  color: #fff;
  margin-bottom: 0;
}
.item span {
  font-style: normal;
}
.carousel-caption > p {
  font-size: 1em;
}

@media screen and (max-width: 540px) {
  .carousel-caption {
    padding-top: 0;
  }
}

section#featured,
section#featured > div > div {
  padding: 0;
}

.panel {
  /*border: 1px solid #4bafc9;*/
  border-radius:0 !important;
  transition: box-shadow 0.5s;
}
.panel:hover {
  box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-footer .btn:hover {
  border: 1px solid #4bafc9;
  background-color: #fff !important;
  color: #4bafc9;
}
.panel-heading {
  color: #fff !important;
  background-color: #4bafc9 !important;
  padding: 10px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.panel-footer {
  background-color: white !important;
}
.panel-footer h3 {
  font-size: 32px;
}
.panel-footer h4 {
  color: #aaa;
  font-size: 14px;
}
.panel-footer .btn {
  margin: 15px 0;
  background-color: #4bafc9;
  color: #fff;
}
.panel-body-quote,
.panel-body-audio,
.panel-body-video,
.view-post-text-container {
  display: table;
}

.panel-body-quote,
.view-post-text-container {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.quote {
  padding: 5px 10px;
  border: none;
  display: table-cell;
  vertical-align: middle;
  /*font-size: 20px;*/
  font-style: italic;
  /*line-height: 1.4;*/
  /*white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  IE 6+, FF 7+, Op 11+, Saf 1.3+, Chr 1+
  -o-text-overflow: ellipsis;  /*for Opera 9 & 10*/*/
}
.audio-symbol {
  display: table-cell;
  vertical-align: middle;
}
.iframe-video {
  width: 100%;
  height: 100%;
}

.navbar {
  margin-bottom: 0;
  background-color: #4bafc9;
  z-index: 9;
  border: 0;
  /*font-size: 12px !important;*/
  /*line-height: 1.42857143 !important;*/
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Raleway, sans-serif;
  height: 70px;
}
.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
  font-size: 16px;
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #4bafc9 !important;
  background-color: #fff !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
  background-color: #4bafc9;
}
.navbar-default .navbar-toggle:hover {
  background-color: #007f98;
}
.navbar-default .navbar-toggle .icon-bar{
  border-color: transparent;
  background-color: #fff;
}
#myNavbar {
  padding: 10px 0;
}
.navbar-collapse {
  background-color: #4bafc9;
}
.nav-dropdown {
  padding: 25px;
}
.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
  max-height: 100%;
}

li.nav-collapsible-dropdown-list-li,
ul.dropdown-menu {
  padding: 0;
  border-top: none;
}

nav.navbar {
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

div.navbar-header > button {
  height: 50px;
  color: green;
  padding: 15px !important;
  margin-right: 0;
}

.logo-img {
  max-width: 50px;
  max-height: 50px;
}
.navbar .navbar-brand {
  padding: 10px !important;
}

div.navbar-header {
  height: 70px; /* height of the logo */
}

.scroll-up .glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: #4bafc9;
}

.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

footer {
  margin-bottom: 0;
  background-color: #4bafc9;
  color: #fff;
  height: 50px;
  z-index: 9;
  border: 0;
  /*font-size: 12px !important;*/
  /*line-height: 1.42857143 !important;*/
  /*letter-spacing: 4px;*/
  border-radius: 0;
  font-family: Raleway, sans-serif;
  position: fixed;
  width: 100%;
  bottom: 0;
}

@media screen and (max-width: 375px) {
  footer {
      height: 70px;
  }
}

.footer-padding {
  padding: 16.5px 15px;
}

.story-image {
  width: 100%;
  height: 100%;
}

.panel-body {
  padding: 0;
  width: 100%;
  overflow: hidden;
}

.story-title {
  color: #fff;
  font-weight: 600;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  /*IE 6+, FF 7+, Op 11+, Saf 1.3+, Chr 1+*/
  -o-text-overflow: ellipsis;  /*for Opera 9 & 10*/
}

.story-row {
  float: none;
  display: table-cell;
  vertical-align: bottom;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #4bafc9;
}

.nav-collapsible-dropdown-list-li {
  padding: 25px;
}

.modal {
  margin-top: 70px;
  margin-bottom: 70px;
}

.modal-header, .modal-footer {
  background-color: #4bafc9;
}

.modal-title, .modal-close {
  color: #fff;
  opacity: 100;
  font-weight: 600;
  margin-bottom: 10px;
}

.modal-header > button.modal-close {
  font-size: 3em;
}

.panel {
  /*border: 1px solid #4bafc9;*/
  border-radius:0 !important;
  transition: box-shadow 0.5s;
}
.panel:hover {
  box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-footer .btn:hover {
  border: 1px solid #4bafc9;
  background-color: #fff !important;
  color: #4bafc9;
}
.panel-heading {
  color: #fff !important;
  background-color: #4bafc9 !important;
  padding: 10px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.coming-soon-title {
  margin-top: 25vh;
}

.contact-info {
  margin-top: 2vh;
}

/* scroll bar */
::-webkit-scrollbar-button{
  display: none;
  height: 13px;
  border-radius: 0px;
  background-color: #007f98;
}
::-webkit-scrollbar-button:hover{
  background-color: #ccc;
  }
::-webkit-scrollbar-thumb{
  background-color: #4bafc9;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #4bafc9;
}
::-webkit-scrollbar-track{
  background-color: #ccc;
}
::-webkit-scrollbar-track:hover{
  background-color: #ccc;
}
::-webkit-scrollbar{
  width: 8px;
}

/* Input Forms */
.input-spacing {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  /*font-size: 20px;*/
  border: 2px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 4px;
}

.form-headings {
  font-weight: 600;
}

input[type=text]:focus,
input[type=password]:focus {
  border: 2px solid #4bafc9;
}

.text-note {
  color: #474747;
}

.login-form {
  padding: 30px;
}

.login-form-link {
  text-decoration: none;
  color: #4bafc9;
}

.login-form-link:hover {
  color: #007f98;
}
.login-form-link:visited,
.login-form-link:active {
  text-decoration: none;
  color: #4bafc9;
}

/* Search Filters */
.filters-layout {
  padding-left: 30px;
  padding-right: 30px;
}

section#filters {
  padding-top: 40px;
  padding-bottom: 24px;
}

section > section > div > i.icon,
section > section > div > div.default.text,
section > section > div > div.menu > div.icon.search.input > i.search.icon,
section > section > div > div.menu > div.header > i.icon,
section > section > div > div.menu > div.header > span {
  color: #4bafc9 !important;
}

section > section > div > div.menu > div.icon.search.input > input {
  border-color: #4bafc9;
}

section > section > div > div.menu > div.scrolling.menu > div.item {
  font-size: 1em;
}

section > section > div > a.label {
  color: #818181;
}

section > section > div.ui.dropdown,
div.ui.search.input > input {
  border: solid 2px #4bafc9;
  border-radius: 5px;
}

/* Panel Sound Icon */
section#stories > article > div.panel > div.panel-body > i.sound-icon-size.icon,
section#your-stories > article > div > i.sound-icon-size.icon,
section#your-stories > article > div > div > i.sound-icon-size.icon {
  color: #4bafc9;
  margin: auto auto;
}

h3.modal-body-title,
h4.modal-body-title {
  font-style: italic;
}

.search-mode-div {
  padding-left: 30px;
}

.radio-inline-heading {
  font-weight: 600;
}

@media (min-width: 576px){
  .radio {
  display: inline;
  padding-left: 10px;
  }
  .radio-inline-heading {
    display: inline;
  }
  .search-mode-div {
    padding-top: 15px;
    padding-bottom: 13px;
  }
}

.panel-overlay {
  /*background-color: rgba(0,0,0,0.5);*/
  position: absolute;
  top: 0;
  left: 0;
}

.translucent-image {
  opacity: 1;
}

section#stories {
  padding-top: 40px;
  padding-bottom: 40px;
}

div.radio > label.searchModeRadios > input {
  position: relative;
}

/* Tables */
/* To fix a firefox issue for responsive tables */
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

div.table-responsive {
  margin-bottom: 10px;
}

.fixed-table-container tbody .selected td {
  background-color: #e9f5f8;
}

.fixed-table-container tbody tr:hover {
  background-color: #e9f5f8;
}

/* Upload a photo */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    /*font-size: 100px;*/
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}


#toolbar-table-1,
#toolbar-table-2 {
    vertical-align: bottom;
}

/* For extra small devices */
.fixed-table-toolbar .search input {
  font-size: 1em;
  /* equivalent to 16px */
  line-height: 1.25;
  /* equivalent to 20px */
  width: calc(100vw - 68px - 30px - 2px - 116px - 10px);
}
/* For small devices */
@media screen and (min-width: 768px) {
  .fixed-table-toolbar .search input {
    width: calc(100vw - (100vw - 68px)/6 - 68px - 30px);
  }
}
/* For medium devices*/
@media screen and (min-width: 992px) {
  .fixed-table-toolbar .search input {
    width: calc(100vw - (100vw - 68px)/6 - 68px - 30px);
  }
}
/* For large devices*/
@media screen and (min-width: 1200px) {
  .fixed-table-toolbar .search input {
    width: calc(100vw - (100vw - 68px)/3 - 68px - 30px);
  }
}

/* Get rid of the padding on the
page so that table info remains
clear and not squashed */
@media screen and (max-width: 425px) {
  #create-group-form,
  #manage-members-form {
    padding: 0;
  }
  #add-members-table-1,
  #potential-group-table-2,
  #delete-members-table-2 {
    font-size: 0.9em;
  }
}

#existing-groups-dropdown {
  padding: 12px;
}

.ui.dropdown > .dropdown.icon {
  position: absolute;
  bottom: 35%;
  right: 10px;
}

div.menu,
div.ui.search.input > input {
  width: 100%;
}

#group-edit-form {
  display: none;
}
/* -------------------------- */
/* ---- View Posts Page ----  */
/* -------------------------- */
/* Making columns have equal heights */
/* Container */
.flex-row {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */

  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;

  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
}
/* Children */
.flex-item {
  -webkit-flex: 1 0 auto;
  -moz-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.flex-item-align-center {
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-align-self: center;
  align-self: center;
}

/* Post Articles */
.view-post-container {
  border: 1px solid #ddd;
  padding: 15px 0;
}
@media screen and (min-width: 768px) {
  .view-post-info-text-container {
    border-left: 1px solid #ddd;
  }
}

/* Thumbnails for the post articles */
.thumbnail-height {
  border-left: 2px solid #4bafc9;
  padding: 0 5px;
}

/* To place the video icon on top of
the video screenshots */
.thumbnail-overlay,
section#your-stories > article > div > div > i.video-icon-size.icon {
  color: #4bafc9;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 10px;
  margin: auto;
}

/* Tags */
.view-post-tag {
  color: #fff;
  background-color: #4bafc9;
  border: solid 1px #4bafc9;
  border-radius: 5px;
  padding: 1px 3px;
}

/* Buttons */
button,
.button {
  border: solid 2px #4bafc9;
  border-radius: 5px;
  color: #fff;
  background-color: #4bafc9;
  text-decoration: none;
  height: 34px;
  margin: 0 0 5px 0;
  padding-left: 8px;
  padding-right: 8px;
  font-weight: 500;
  transition: box-shadow 0.5s;
}
button:hover,
.button:hover {
/*  color: #4bafc9;
  background-color: #fff;
  border-color: #4bafc9;*/
  box-shadow: 3px 3px 20px rgba(0,0,0, .2);
}
button:focus,
.button:focus,
button:active,
.button:active {
  outline:0;
}

.inverted-button {
  background-color: #fff;
  color: #4bafc9;
}
.inverted-button:hover {
/*  color: #fff;
  background-color: #4bafc9;*/
  box-shadow: 3px 3px 20px rgba(0,0,0, .2);
}

/* Make bigger buttons for mobile and
tablet since fingers are not as accurate
as mice. */
@media screen and (max-width: 768px) {
  button,
  .button {
    padding: 8px;
    height: auto;
  }
}

/* Search Filters Section */
#search-filters {
  padding: 30px 50px 15px 50px;
}

/* Basic Search Section */
#search-box {
  display: none;
  width: 10%;
  border: solid 2px #4bafc9;
  border-radius: 5px;
  margin-bottom: 5px;
}
@media screen and (max-width: 768px) {
  #search-box {
    height: 40px;
  }
}

/* Sorting Dropdown Stuff */
/* Sorting dropdown container */
.sorting-dropdown {
  display: inline;
}
/* Sorting dropdown label */
.sorting-dropdown>button {
  font-weight: 500;
  color: #818181;
}
/* Sorting dropdown list */
.sorting-dropdown-menu {
  position: absolute;
  top: 150%;
}

/* Basic search stuff */
.basic-search-row {
  margin: 5px 0;
  padding: 0;
}

/* Advanced Search Filters Section */
#advanced-search-filters-section {
  display: none;
  margin-bottom: 5px;
}

/* Advanced Filter Menu */
#advanced-filter-menu {
  background-color: #4bafc9;
  color: #fff;
  font-weight: 500;
  margin-bottom: 2px;
}

/* Make a border around the inner
sides of each tab. */
.advanced-filter-tab:nth-child(n+2),
.advanced-filter-tab:nth-child(n+2):hover{
  border-left: 2px solid #fff;
}
@media (max-width: 767px){
  .advanced-filter-tab:nth-child(3n+1),
  .advanced-filter-tab:nth-child(3n+1):hover{
    border-left: none;
  }
  .advanced-filter-tab:nth-child(n+4),
  .advanced-filter-tab:nth-child(n+4):hover{
    border-top: 2px solid #fff;
  }
}

/* Advanced filter nenu tab icons*/
.advanced-filter-icon,
i.icon.advanced-filter-icon {
  padding-top: 10px;
  font-size: 2em;
}

.no-padding {
  padding: 0;
}

/* Filter Chosen Section */
/* Border around filters chosen sections */
#filter-search-mode-chosen-section,
#filters-chosen-section {
  border: solid 2px #4bafc9;
  padding: 5px;
}
#filters-chosen-section {
  border-left: none;
}
@media screen and (max-width: 767px) {
  #filters-chosen-section {
    border-left: solid 2px #4bafc9;
    border-top: none;
  }
}

/* Filters chosen heading */
.filters-chosen-heading {
  margin-bottom: 2px;
}

/* Filter Tags */
.filter-chosen {
  padding: 3px 6px;
  height: auto;
  margin-right: 2px;
  margin-bottom: 2px;
  font-weight: 500;
  border: solid 1px;
}
.filter-chosen:hover {
  box-shadow: none;
}

.filter-chosen-close-button {
  padding-left: 5px;
}

/* Color codes for various filter types */
.filter-where-color,
.filter-where-color-inverted:hover {
  background-color: #4bafc9;
  color: #fff;
  border-color: #4bafc9;
}

.filter-where-color-inverted,
.filter-where-color:hover,
.filter-where-color-inverted-static {
  background-color: #fff;
  color: #4bafc9;
  border-color: #4bafc9;
}

.filter-when-color,
.filter-when-color-inverted:hover {
  background-color: #c94b70;
  color: #fff;
  border-color: #c94b70;
}

.filter-when-color-inverted,
.filter-when-color:hover,
.filter-when-color-inverted-static {
  background-color: #fff;
  color: #c94b70;
  border-color: #c94b70;
}

.filter-privacy-color,
.filter-privacy-color-inverted:hover {
  background-color: #c9a44b;
  color: #fff;
  border-color: #c9a44b;
}

.filter-privacy-color-inverted,
.filter-privacy-color:hover,
.filter-privacy-color-inverted-static {
  background-color: #fff;
  color: #c9a44b;
  border-color: #c9a44b;
}

.filter-groups-color,
.filter-groups-color-inverted:hover {
  background-color: #4bc9a4;
  color: #fff;
  border-color: #4bc9a4;
}

.filter-groups-color-inverted,
.filter-groups-color:hover,
.filter-groups-color-inverted-static {
  background-color: #fff;
  color: #4bc9a4;
  border-color: #4bc9a4;
}

.filter-tags-color,
.filter-tags-color-inverted:hover {
  background-color: #765fcf ;
  color: #fff;
  border-color: #765fcf;
}

.filter-tags-color-inverted,
.filter-tags-color:hover,
.filter-tags-color-inverted-static {
  background-color: #fff;
  color: #765fcf ;
  border-color: #765fcf ;
}

.filter-media-color,
.filter-media-color-inverted:hover {
  background-color: #c9654b ;
  color: #fff;
  border-color: #c9654b;
}

.filter-media-color-inverted,
.filter-media-color:hover,
.filter-media-color-inverted-static {
  background-color: #fff;
  color: #c9654b ;
  border-color: #c9654b ;
}

/* Individual Filter Options Section */
/* Filter Menu Box */
.select-filter-options-section {
  border: solid 2px;
  padding: 5px;
  margin-bottom: 2px;
  display: none;
}

/* Dropdowns */
/* remove the bottom margin underneath
the dropdown main bar button */
.dropdown > .button {
  margin-bottom: 0;
  min-height: 34px;
  height: auto;
}
/* Dropdown menu list items */
.dropdown-menu,
.dropdown-menu>li>a,
.dropdown-menu>li>a:hover {
  font: 400 16px Raleway, sans-serif;
  line-height: 1.8;
  color: #555;
  font-size: 1em;
  /* equivalent to 16px */
  line-height: 1.25;
  /*equivalent to 20px*/
}
@media (min-width: 43.75em) {
  .advanced-filter-dropdown > .dropdown-menu,
  .advanced-filter-dropdown > .dropdown-menu>li>a {
    font-size: 1em;
    /* equivalent to 16px */
    line-height: 1.375;
    /* equivalent to 22px */
  }
}

/* Dropdown search bar close button */
.input-group-btn {
  font-size: 1em;
  line-height: 1.42857143em;
}
.clear-search-button {
  font-weight: 600;
  height: 34px;
}
@media screen and (max-width: 768px) {
  /* Make form inputs and buttons bigger
  on smaller devices */
  .form-control,
  .clear-search-button {
    height: 40px
  }
}

/* Full width for the dropdown button */
.advanced-filter-dropdown > button.dropdown-toggle,
#group-privacy-setting-dropdown > button.dropdown-toggle {
  width: 100%;
}

/* Caret */
.advanced-filter-dropdown > button.dropdown-toggle > .caret,
#group-privacy-setting-dropdown > button.dropdown-toggle > .caret {
  position: absolute;
  right: 2%;
  top: 45%;
}

/* Set a max height for dropdown menus */
.advanced-filter-dropdown > .dropdown-menu {
  max-height: 20vh;
  overflow-y: auto;
  overflow-x: hidden;
}
/* Make text in the dropdown button wrap
and expand the size of the dropdown button */
.dropdown-button-text {
  max-width: 97%;
  white-space: normal;
  display: block;
}

/* When filter datetimepicker inputs */
/* Dropdown */
.datepicker,
.table-condensed {
  width: 100%;
  height: auto;
}
.bootstrap-datetimepicker-widget.dropdown-menu {
  background-color: #fff;
  border-color: #fff;
  width: 100%;
}
/* Hide the arrow dibbit on top of
the dropdown */
.bootstrap-datetimepicker-widget.dropdown-menu:after,
.bootstrap-datetimepicker-widget.dropdown-menu:before {
  display: none !important;
}
.bootstrap-datetimepicker-widget.dropdown-menu .arrow {
  display: none !important;
}
.bootstrap-datetimepicker-widget.dropdown-menu .arrow:after,
.bootstrap-datetimepicker-widget.dropdown-menu .arrow:before {
  display: none !important;
}
/* Buttons in the dropdown*/
.bootstrap-datetimepicker-widget.dropdown-menu a span:hover,
.bootstrap-datetimepicker-widget.dropdown-menu a span:focus {
  background-color: #c94b70 !important;
  color: #fff !important;
}
.bootstrap-datetimepicker-widget.dropdown-menu a span {
  background-color: #fff !important;
  color: #c94b70 !important;
}
/* Toggle period (AM/PM) button */
.btn[data-action="togglePeriod"],
.btn-primary[data-action="togglePeriod"] {
  background: #c94b70;
  border:none;
}
.btn[data-action="togglePeriod"]:hover,
.btn-primary[data-action="togglePeriod"]:focus {
  background: #c94b70;
  border:none;
}
/* Selected day */
.bootstrap-datetimepicker-widget table tr td.active:active,
.bootstrap-datetimepicker-widget table tr td.active.highlighted:active,
.bootstrap-datetimepicker-widget table tr td.active.active,
.bootstrap-datetimepicker-widget table tr td.active.highlighted.active {
  background-color: #c94b70;
}
/* Arrow for current day */
.bootstrap-datetimepicker-widget table td.today:before {
  border-bottom-color: #c94b70;
}
/* Where filter instructions text */
.filter-instructions {
  padding: 15px 15px 0 15px;
  color: #818181;
}


/* Story Modal - Privacy Settings */
@media screen and (max-width: 768px) {
  .dropdown-menu > li > a,
  .dropdown-menu > .dropdown-header {
    padding: 10px 10px 10px 20px;
  }
}
/* group privacy dropdown button width*/
#group-privacy-setting-dropdown>button {
  width: 100%;
}
/* disabled privacy dropdown toggle button */
.privacy-dropdown-toggle-disable,
.privacy-dropdown-toggle-disable:hover {
  background-color: #c94b70;
  color: #fff;
  border: #c94b70;
}

#change-privacy-setting-modal-body {
  display: none;
}